{{define "title"}}Cheer{{end}}
{{define "head"}}{{end}}
{{define "content"}}

    <p>{{.identity}}</p>
    <p>uid is {{.uid}}</p>
    <p>group is {{.group}}</p>

{{template "footer" .}}
{{- end}}
{{define "foot"}}{{end}}