{{define "title"}}Cheer{{end}}
{{define "head"}}{{end}}
{{define "content"}}

<center style="margin: 5em auto 5em;">
    <h1><p>Thanks for cheering up!</p></h1>
</center>

{{template "footer" .}}
{{- end}}
{{define "foot"}}{{end}}