# Folders
/vendor/
/asset/
/node_modules/
/filestorage/*

# OS Files
.DS_Store
thumbs.db
!/filestorage/README.md

# npm stuff
package-lock.json

# Blue Jay Files
env.json
*.exe
*.exe~
pile2

# JetBrains IDE metadata
.idea

# Development
.env.development

# Openshift
.openshift/secrets.yaml
.openshift/configmap.yaml

