@import "asset/dynamic/sass/partial/variable";
@import "asset/dynamic/sass/partial/mixin";

/* CSS for Blue Jay Blueprint version #{$version}. */

// *****************************************************************************
// Global
// *****************************************************************************

// Example
// html {
//	font-family: $fontFamily;
//	font-size: $fontSize;
// }


// *****************************************************************************
// Flash Message
// *****************************************************************************

#flash-container {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 100;
	margin: 0;
}

.alert-box-fixed {
	margin: 0 15px 15px 0;
}
