{{- if eq .AuthLevel "auth" -}}
	<!-- this is the menu you see when authenticated -->
{{- else -}}
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{.BaseURI}}about">About</a>
					</li>
				</ul>
{{- end -}}